<!doctype html>
<html>
<head>
<title>Home Page</title>
</head>
<body>
<div>
	<p style="font-weight:normal;color:#27D6D6;letter-spacing:1pt;word-spacing:2pt;font-size:64px;text-align:left;font-family:trebuchet MS, sans-serif;line-height:1;">You have not filled in the form correctly.</p>
	<div style="width:1000px">
	<li style="font-weight:normal;color:#7DFFBA;background-color:#94ADFF;letter-spacing:1pt;word-spacing:2pt;font-size:23px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:1;">1. May be you have not typed-in same password</li>
	<li style="font-weight:normal;color:#7DFFBA;background-color:#94ADFF;letter-spacing:1pt;word-spacing:2pt;font-size:23px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:1;">2. May be you this Username is taken</li>
	<li style="font-weight:normal;color:#7DFFBA;background-color:#94ADFF;letter-spacing:1pt;word-spacing:2pt;font-size:23px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:1;">3. May be you have left the username/password blank</li> </div>


<br><br><br><br><br><br><br><br><br>
	<div style="font-weight:normal;color:#AAAAAA;letter-spacing:1pt;word-spacing:2pt;font-size:40px;text-align:left;font-family:trebuchet MS, sans-serif;line-height:1;">Whatever may be the reason, you may wanna try again. Click <a href="/accounts/register/">here</a> to register again</div>
</div>

</div>
</body>
</html>